<dialog id="share-dialog">
  <form method="dialog">
    <section class="field">
      <input type="checkbox" name="share" id="enable-sharing-checkbox" <%=sharing?'checked':''%>>
      <label for="enable-sharing-checkbox">Enable Sharing</label>
    </section>
    <section class="field duration">
      <%- include('duration_subfield',{unit:'minutes',displayName:'Min',sharing}) %>
      <%- include('duration_subfield',{unit:'hours',displayName:'Hr',sharing}) %>
      <%- include('duration_subfield',{unit:'days',displayName:'Day',sharing}) %>
      <%- include('duration_subfield',{unit:'months',displayName:'Mth',sharing}) %>
      <%- include('duration_subfield',{unit:'years',displayName:'Yrs',sharing}) %>
    </section>
    <div class="form-buttons">
      <button>Save</button>
      <button formnovalidate>Cancel</button>
    </div>
  </form>
</dialog>