<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Info</title>
  <script src="/javascripts/fileInfo/setup.js" type="module"></script>
</head>

<body>
  <h1><%=file.name%></h1>
  <ol>
    <li>Type: <%=file.mimeType ?? 'Unknown'%></li>
    <li>Size: <%=file.displaySize%></li>
    <li>Uploaded At: <%=file.uploadedAt%></li>
    <button type="button" id="rename-file">Rename</button>
    <button type="button" id="delete-file">Delete</button>
    <button type="button" id="sharing-file-button">
      <%=sharing?'Sharing':'Not Sharing'%>
    </button>
    <%if(sharing){%>
    <button id="copy-shared-url-button" data-id="<%=sharing.id%>">Copy Link</button>
    <%}%>
  </ol>
  <div class="dialogs">
    <%- include('partials/rename_dialog',{dialogId:'rename-file-dialog',inputId:'current-file-name',parentId:folderId}) %>
    <dialog id="confirm-delete-file-dialog">
      <form method="dialog">
        <p>Are you sure you want to delete this file?</p>
        <button formnovalidate>Cancel</button>
        <button>Yes</button>
      </form>
    </dialog>
    <%- include('partials/sharing_dialog',{sharing,forFolder:false}) %>
    <%- include('partials/failed_message_dialog') %>
    </div>
</body>

</html>