<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <script src="/javascripts/index/setup.js" type="module"></script>
</head>

<body>
  <main>
    <p class="welcome-banner">
      Welcome, <span class="username"><%=username%></span>!
    </p>
    <%- include('partials/header',{folderName:currentFolder.name,isRoot,sharing}) %>
    <div class="folders-files">
      <div class="folders">
        <%for(const folder of folders){%>
        <%- include('partials/folder',{folder}) %>
        <%}%>
        <%for(const file of files){%>
        <%- include('partials/file',{file,folderId:currentFolder.id}) %>
        <%}%>
      </div>
    </div>
  </main>
  <div class="dialogs">
    <dialog id="add-files-dialog">
      <form method="dialog">
        <label for="files-to-upload">Files</label>
        <input type="file" required multiple name="files" id="files-to-upload" />
        <button formenctype="multipart/form-data" formmethod="post" formaction="/files">
          Submit
        </button>
        <button formnovalidate>Close</button>
        </form>
        </dialog>
        <dialog id="add-folder-dialog">
          <form method="dialog">
            <label for="folder-name">Name</label>
            <input required name="name" id="folder-name" />
            <input type="hidden" name="parentId" value="<%=currentFolder.id%>">
        <button formmethod="post" formaction="/folders">
          Submit
        </button>
        <button formnovalidate>Close</button>
        </form>
        </dialog>
        <%- include('partials/rename_dialog',{
          dialogId:'rename-current-folder-dialog',
          inputId:'current-folder-name',
          parentId})
          %>
        <%if(!isRoot){%>
        <dialog id="delete-folder-dialog">
          <form method="dialog">
            <p>Are you want to delete folder <strong><%=currentFolder.name%></strong> and all its content(s)?</p>
            <button>
              Submit
            </button>
            <button formnovalidate>Close</button>
          </form>
        </dialog>
        <%}%>
        <dialog id="resolve-upload-file-conflict-dialog">
          <form method="dialog">
            <button>Cancel</button>
          </form>
        </dialog>
        <%- include('partials/sharing_dialog',{sharing,forFolder:true}) %>
        <%- include('partials/failed_message_dialog') %>
        <%- include('partials/progress_dialog') %>
      </div>
</body>

</html>