<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <script src="/javascripts/index/setup.js" type="module"></script>
</head>

<body>
  <main>
    <p class="welcome-banner">
      Welcome, <span class="username"><%=username%></span>!
    </p>
    <%- include('partials/header',{folderName:currentFolder.name,isRoot,sharing}) %>
    <div class="folders-files">
      <div id="add-menu">
        <button id="add-menu-header">Add</button>
        <div class="items">
          <button id="add-files-button">Add file(s)</button>
          <button id="add-folder-button">Add folder</button>
        </div>
      </div>
      <div class="folders">
        <%for(const folder of folders){%>
        <%- include('partials/folder',{folder}) %>
        <%}%>
        <%for(const file of files){%>
        <%- include('partials/file',{file,folderId:currentFolder.id}) %>
        <%}%>
      </div>
    </div>
  </main>
  <div class="dialogs">
    <dialog id="add-files-dialog">
      <form method="dialog">
        <label for="files-to-upload">Files</label>
        <input type="file" required multiple name="files" id="files-to-upload" />
        <section class="none" id="resolve-upload-file-conflict">

          <p>Select all the duplicate file(s) you want to replace with new ones or leave them unselected to skip them.</p>
          <section id="duplicate-files">

          </section>
        </section>
        <button formenctype="multipart/form-data" formmethod="post" formaction="/files">
          Submit
        </button>
        <button formnovalidate>Close</button>
        </form>
        </dialog>
        <dialog id="add-folder-dialog">
          <form method="dialog">
            <label for="folder-name">Name</label>
            <input required name="name" id="folder-name" />
            <input type="hidden" name="parentId" value="<%=currentFolder.id%>">
        <button formmethod="post" formaction="/folders">
          Submit
        </button>
        <button formnovalidate>Close</button>
        </form>
        </dialog>
        <dialog id="create-folder-post-reponse">
          <form method="dialog">
            <p class="message"></p>
            <button>Close</button>
          </form>
        </dialog>
        <%- include('partials/rename_dialog',{
          dialogId:'rename-current-folder-dialog',
          inputId:'current-folder-name',
          parentId})
          %>
        <%if(!isRoot){%>
        <dialog id="delete-folder-dialog">
          <form method="dialog">
            <p>Are you want to delete folder <strong><%=currentFolder.name%></strong> and all its content(s)?</p>
            <button>
              Submit
            </button>
            <button formnovalidate>Close</button>
          </form>
        </dialog>
        <%}%>
        <dialog id="resolve-upload-file-conflict-dialog">
          <form method="dialog">
            <button>Cancel</button>
          </form>
        </dialog>
        <dialog id="share-folder-dialog">
          <form method="dialog">
            <section class="field">
              <input type="checkbox" name="share" id="share-folder-checkbox" <%=sharing?'checked':''%>>
        <label for="share-folder-checkbox">Share</label>
        </section>
        <%if(sharing){%>
        <input type="hidden" name="id" id="shared-url-id" value="<%=sharing.id%>">
        <%}%>
        <section class="field">
        <%- include('partials/duration_subfield',{unit:'minutes',displayName:'Min',sharing}) %>
        <%- include('partials/duration_subfield',{unit:'hours',displayName:'Hr',sharing}) %>
        <%- include('partials/duration_subfield',{unit:'days',displayName:'Day',sharing}) %>
        <%- include('partials/duration_subfield',{unit:'months',displayName:'Mth',sharing}) %>
        <%- include('partials/duration_subfield',{unit:'years',displayName:'Yrs',sharing}) %>
        </section>
        <button>Save</button>
        <button formnovalidate>Cancel</button>
        </form>
        </dialog>
      </div>
</body>

</html>