<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <script src="/javascripts/index.js" defer></script>
</head>

<body>
  <main>
    <p class="welcome-banner">
      Welcome, <span class="username"><%=username%></span>!
    </p>
    <%- include('partials/header',{folderName:parentFolder.name,isRoot}) %>
    <div class="folders-files">
      <div id="add-menu">
        <button id="add-menu-header">Add</button>
        <div class="items">
          <button id="add-files-button">Add file(s)</button>
          <button id="add-folder-button">Add folder</button>
        </div>
      </div>
      <div class="folders">
        <%for(const folder of folders){%>
        <%- include('partials/folder',{folder}) %>
        <%}%>
        <%for(const file of files){%>
        <%- include('partials/file',{file}) %>
        <%}%>
      </div>
    </div>
  </main>
  <div class="dialogs">
    <dialog id="add-files-dialog">
      <form method="dialog">
        <label for="files">Files</label>
        <input type="hidden" name="parentId" value="<%=parentFolder.id%>">
        <input type="file" multiple name="files" id="files" />
        <button formenctype="multipart/form-data" formmethod="post" formaction="/files">
          Submit
        </button>
        <button>Close</button>
        </form>
        </dialog>
        <dialog id="add-folder-dialog">
          <form method="dialog">
            <label for="folder-name">Name</label>
            <input required name="name" id="folder-name" />
            <input type="hidden" id="parent-id" name="parentId" value="<%=parentFolder.id%>">
            <button formmethod="post" formaction="/folders">
              Submit
            </button>
            <button formnovalidate>Close</button>
          </form>
        </dialog>
        <dialog id="create-folder-post-reponse">
          <form method="dialog">
            <p class="message"></p>
            <button>Close</button>
          </form>
        </dialog>
        <dialog id="rename-current-folder-dialog">
          <form method="dialog">
            <label for="current-folder-name">Name</label>
            <input required name="name" id="current-folder-name" />
            <input type="hidden" name="_method" value="PATCH">
            <button formmethod="post" formaction="<%='/folders/'+parentFolder.id%>">
              Submit
            </button>
            <button formnovalidate>Close</button>
          </form>
        </dialog>
        <%if(!isRoot){%>
        <dialog id="delete-folder-dialog">
          <form method="dialog">
            <p>Are you want to delete folder <strong><%=parentFolder.name%></strong> and all its content(s)?</p>
            <button formaction="<%='/folders/'+parentFolder.id%>">
              Submit
            </button>
            <button formnovalidate>Close</button>
          </form>
        </dialog>
        <%}%>
      </div>
</body>

</html>