<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shared File Info</title>
  <link rel="stylesheet" href="/stylesheets/shared_file_info.css">
</head>

<body>
  <main>
    <h1 class="file-name"><%=file.name%></h1>
    <div class="file-info">
      <ul>
        <li>Type: <%=file.mimeType ?? 'Unknown'%></li>
        <li>Size: <%=file.displaySize%></li>
        <li>Uploaded At(UTC): <%=uploadedAt%></li>
      </ul>
    </div>
    <a class="download-link" href=<%=`/sharedFiles/${id}/blob`%>>
      <img class="button-icon" src="/images/download.svg" alt="">
      <span class="text">Download</span>
    </a>
  </main>
</body>

</html>