<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=name%></title>
</head>

<body>
  <h1><%=name%></h1>
  <section>
    <h2>Folders</h2>
    <div class="folders">
      <%for(const folder of folders){%>
      <div class="folder">
        <%if(folder.sharedUrl){%>
        <a href="<%=`/sharedFolders/${folder.sharedUrl.id}`%>"><%=folder.name%></a>
        <%}else{%>
        <p><%=folder.name%></p>
        <%}%>
      </div>
      <%}%>
      </div>
  </section>
  <section>
    <h2>Files</h2>
    <div class="files">
      <%for(const file of files){%>
      <div class="file">
        <a href="<%=`/sharedFiles/${file.sharedUrl.id}`%>"><%=file.name%></a>
      </div>
      <%}%>
        </div>
    </section>
</body>
</html>